server {

        # SSL configuration
        #
        server_name test.zenov.com;

        listen 80;

        root /var/www/lighthouse;

        index index.html index.htm index.nginx-debian.html;

        server_name _;

        location / {
                try_files $uri $uri/ =404;
        }


}
